<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" routerLink="/dashboard">My Notes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="manage" class="nav-link text-dark" title="Manage" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <button id="manage" class="nav-link text-dark" title="Manage" (click)="logout()">Logout</button>
          </li>
        </ul>
        <!-- <div *ngIf="">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="manage" class="nav-link text-dark" title="Manage">{{ username }}</a>
            </li>
          </ul>
        </div> -->
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="#">Add Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="#">Edit Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="#">Delete Note</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="border-top footer text-muted">
  <div class="container">
    © 2019 - PersonalNotesAPI - TrucPhan
  </div>
</footer>
y
