﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RESTful Controllers</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/*.js"></script>
    <script src="~/lib/js/"></script>
</head>
<body class="m-1 p-1">
    @RenderBody()
</body>
</html>