

<div *ngIf="hero">
  <h4>{{ hero.name | uppercase }} Details</h4>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>name: </span>{{hero.name}}</div>
  <p>--------------</p>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
  </div>
</div>

