<p>
  login works!
</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" />
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="loading" class="btn btn-primary">Login</button>
  </div>
</form>
