<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge"> {{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
<!-- <div *ngIf="selectedHero">
  <h4>{{ selectedHero.name | uppercase }} Details</h4>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div><span>name: </span>{{selectedHero.name}}</div>
  <p>--------------</p>
  <div>
    <label>name:
      <app-hero-detail [hero]="selectedHero"></app-hero-detail>
    </label>
  </div>
</div> -->
<!-- <app-hero-detail [hero] = "selectedHero"></app-hero-detail> -->
